.write{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.write-content{
    flex:5;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.edit-content{
    height: 300px;
    overflow: scroll;
    border: 1px solid black;
}
.edit-c{
    height: 300px;
    
}
.items{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-content{
    border: 1px solid black;
    padding: 20px;
}

.input-url{
    border: 1px solid black;
    padding: 20px;
    width: 700px;
}

.item-content{
    padding: 10px;
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:15px ;
}

.item-content2{
    padding: 10px;
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:18px ;
}

label{
    text-decoration: underline;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button{
    cursor: pointer;
    background: rgb(255, 107, 107);
    border: 1px solid rgb(233, 52, 52);
    padding: 12px 14px;
    border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
}

.cat{
    display: flex;
    align-items: center;
    gap: 2px;
    color:rgb(255, 107, 107)
}

.mess{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9F6000;
	background-color: #FEEFB3;
    padding: 20px;
}