.menu-tab{
    flex:2;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.menu-tab h1{
    font-size: 20px;
    color:rgb(175, 233, 229);
}

menu-tab-post{
    display: flex;
    flex-direction: column;
    gap:10px
}

menu-tab-post img{
    height: 100%;
    width: 200px;
}

.menu-btn{
    background: rgb(255, 107, 107);
    cursor: pointer;
    border: 1px solid teal;
    padding: 10px 12px;
    border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  min-height: 30px;
  outline: 0;
}

.menu-btn:hover{
    color:white;
    background: rgb(255, 230, 109)
}